.btn-orange {
    padding: 15px 150px;
}

section#banner {
    background-image: url("../img/como-funciona/transportista/banner.png");
}

section#banner > .container {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

section#potencial h1 {
    font-size: 50px;
}

section#potencial .sub span {
    font-size: 25px;
    line-height: 26px;
}

section#potencial div.text {
    max-width: 350px;
    text-align: justify;
}

section#potencial div.image {
    height: 100px;
}

section#potencial div.title {
    max-width: 350px;
    height: 70px;
}

section#potencial div.top {
    width: 380px;
}

section#potencial div.top > strong {
    font-size: 25px;
    line-height: 25px;
}

section#potencial div.bottom {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

section#porque {
    background-color: black;
    background-image: url("../img/como-funciona/transportista/porque_bg.png");
    padding-top: 8rem;
    padding-bottom: 8rem;
}

section#porque div.title {
    margin-bottom: 8rem;
}

div.title {
    font-size: 50px;
}

section#porque div.item > .text {
    max-width: 250px;
    font-size: 20px;
}

section#herramientas {
    background-color: #e6e6e6;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

section#herramientas div.laptop {
    padding-top: 8rem;
}

section#herramientas div.top > div.text {
    position: relative;
    right: 50px;
    max-width: 435px;
}

section#herramientas div.text {
    max-width: 435px;
    font-size: 20px;
}

section#herramientas div.bottom {
    padding-bottom: 3rem;
}

section#herramientas div.phone > img {
    max-width: 100%;
}

section#herramientas div.row.up {
    position: relative;
    bottom: 9rem;
    margin-top: 7rem;
}

body.publicidad section#herramientas div.title > h1 {
    font-size: 50px;
}

body.publicidad section#herramientas div.sub span {
    font-size: 25px;
}

body.publicidad section#herramientas div.lower-text span {
    font-size: 22px;
}

body.publicidad section#herramientas div.lower-text .text {
    width: 225px;
}

body.publicidad section#herramientas div.banner-config {
    margin-top: 8rem;
}

body.publicidad section#herramientas div.banner-config strong {
    font-size: 25px;
}

body.publicidad section#herramientas div.banner-config .last {
    margin-top: 5rem;
}

body.publicidad section#herramientas div.banner-config .title {
    max-width: 600px;
    margin-bottom: 3rem;
}

section#informacion {
    background-color: black;
    padding-top: 7rem;
    padding-bottom: 20rem;
}

section#informacion div.title > h1 {
    font-size: 50px;
}

section#informacion div.input > input {
    max-width: 500px;
    color: #afafaf;
    border-radius: 0;
}

section#informacion div.input > button {
    max-width: 500px;
    width: 100%;
}

body.publicidad section#informacion {
    background-color: #e5e5e5;
}

body.publicidad section#informacion div.title {
    max-width: 700px;
}

@media (max-width: 992px) {
    .btn-orange {
        padding: 15px 70px;
    }
}

@media (max-width: 1200px) {
    section#herramientas div.top > div.text {
        position: unset;
    }

    section#herramientas div.text {
        position: unset;
    }

    section#herramientas div.row.up {
        position: unset;
    }
}