section#cargas table tr th {
    border-top: none;
    border-bottom: 1px solid #dee2e6;
}

section#interests {
    background-image: url("../img/home/orange.png");
    background-size: cover;
}

section#interests button {
    font-size: 1.5rem;
    width: 250px;
    background-color: transparent;
}

section#interests button:hover,
section#interests button.active {
    background-color: white;
    color: #ff6400 !important;
    text-decoration: none;
    transition-duration: 250ms;
}

section#interests button:focus {
    outline: none !important;
}

section#app {
    padding-bottom: 16rem;
}

section#app .section{
    min-height: 440px;
}

section#app .transportista {
    background-color: black;
    background-image: url("../img/home/truck_bg.png");
    background-size: cover;
    background-position: center;
    padding-bottom: 6rem !important;
}

section#app h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 65px;
}

section#app span {
    font-size: 24px;
    line-height: 31px;
}

section#app span.arrow {
    line-height: 42px;
}

section#app .btns a {
    top: -31px;
}

section#planes span.large {
    font-size: 40px;
}

hr.b-orange {
    border-color: #ff6400;
}

hr.small {
    width: 100px;
}

section#news #news-slider-arrows {
    width: 100%;
    z-index: 9;
    padding-right: 30px;
}

section#news #news-slider-arrows .arrow {
    position: relative;
}

section#news #news-slider-arrows .arrow.prev {
    right: 60px;
}

section#news #news-slider-arrows .arrow.next {
    float: right;
    left: 60px;
}

section#news .box {
    padding: 8px;
    margin-top: 20px;
}

section#news .border {
    padding: 13px;
}

section#news .box img {
    background-color: white;
    top: -30px;
    padding-left: 15px;
    padding-right: 15px;
}

section#news .box img.fox {
    top: -30px;
}

section#news .box img.telemundo {
    top: -49px;
}

section#news .box img.abc {
    top: -42px;
    width: 10vh;
}

section#news .box strong {
    font-size: 19px;
}

section#news .box span {
    font-size: 14px;
}

section#news .box a:hover {
    text-decoration: none;
    color: #969696;
}

section#news .border {
    border: 1px solid #b3b3b3 !important;
}

hr.gray {
    border: 1px solid #b3b3b3 !important;
}

.news-outer>.news-slider{
    height: fit-content;
    width: 100%;
}

@media (max-width: 992px) {
    section#app .phone {
        position: unset !important;
    }
    section#news #news-slider-arrows {
        height: 0 !important;
    }
}

