nav {
    background-color: rgba(0, 0, 0, 1) !important;
}

section#login {
    padding-top: 13rem;
    padding-bottom: 7rem;
}

section#login div.title > h1 {
    font-size: 40px;
}

section#login div.inputs {
    width: 100%;
    max-width: 500px;
}

section#login div.inputs > input {
    background-color: #ebebeb;
}

section#login div.inputs a {
    text-decoration: underline;
    color: black;
}

section#login div.inputs input.custom-checkbox {
    height: 21px;
    width: 21px;
    background-color: #ebebeb;
}

.btn-orange {
    padding: 12px 140px;
    border-radius: 5px;
}