section#banner {
    background-image: url("../img/home/banner.png");
}

section#banner > .container {
    padding-top: 13rem;
    padding-bottom: 13rem;
}

section#planes {
    padding-top: 7rem;
    padding-bottom: 17rem;
    background-color: #f2f2f2;
}

section#planes span.large {
    font-size: 40px;
}

section#planes div.title {
    margin-bottom: 10rem;
}

body.cargadores section#planes div.title span {
    font-size: 25px;
    color: #9e9e9e;
}

div.title > h1 {
    font-size: 50px;
}

section#planes span.free {
    font-size: 20px;
}

section#faq {
    padding-top: 7rem;
    padding-bottom: 17rem;
}

section#faq div.title > h1 {
    font-size: 40px;
}

section#faq div.accordion button.btn-link {
    color: black;
}

section#faq div.accordion button.btn-link:hover {
    text-decoration: none;
}

section#faq div.accordion button img {
    display: none !important;
}

section#faq div.accordion button.collapsed img {
    display: block !important;
}

section#informacion {
    background-image: url("../img/red_bg.png");
    padding-top: 7rem;
    padding-bottom: 20rem;
}

section#informacion div.title>h1 {
    font-size: 50px;
}

section#informacion div.input>input {
    max-width: 500px;
    color: #afafaf;
    border-radius: 0;
}

section#informacion div.input>button {
    max-width: 500px;
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
}

section#informacion div.input>button:hover {
    background-color: white;
    color: #ff6400;
}