section#banner {
    background-image: url("../img/nosotros/banner.png");
}

section#banner > .container {
    padding-top: 15rem;
    padding-bottom: 15rem;
}

section#main{
    padding-top: 10rem;
    padding-bottom: 10rem;
}

section#main .text>span{
    font-size: 25px;
}

section#main .compromisos{
    margin-top: 10rem;
    margin-bottom: 3rem;
}