section#banner {
    background-image: url("../img/registro/brokers/banner.png");
    background-position-y: top;
}

body.cargadores section#banner {
    background-image: url("../img/registro/cargadores/banner.png");
    background-position-y: top;
}

section#banner {
    padding-top: 11rem;
    padding-bottom: 6rem;
}

section#planes {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

section#planes div.title > h1 {
    font-size: 50px;
}

body.cargadores section#planes div.title > h3 {
    font-size: 40px;
}

section#planes {
    background-color: #f2f2f2;
}

section#planes div.area {
    width: 100%;
    max-width: 550px;
}

section#planes div.inputs {
    width: 100%;
}

section#planes div.inputs > input {
    background-color: white;
    padding: 25px 35px;
    border: none;
}

section#planes div.inputs a {
    width: 100%;
}


section#planes div.inputs a:hover {
    background-color: black;
    color: #ff6400 !important;
}

section#planes div.area h3 {
    font-size: 24px;
}

section#planes div.inputs input.custom-checkbox {
    height: 21px;
    width: 21px;
    background-color: #ebebeb;
}

section#informacion {
    background-color: #2d2d2d;
    padding-top: 7rem;
    padding-bottom: 10rem;
}

section#informacion div.title>h1 {
    font-size: 70px;
}

section#informacion div.input>input {
    max-width: 500px;
    color: #afafaf;
    border-radius: 0;
    padding: 25px 35px;
}

section#informacion div.input>button {
    max-width: 500px;
}