body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

section#header {
    background-color: black;
    font-size: 14px;
    font-weight: 700;
    padding-right: 1rem;
}

section#header a:hover {
    text-decoration: none;
    color: #ff6400 !important;
}

h1 {
    font-size: 65px;
}

section#header a.nav-link {
    color: white !important;
}

section#header a.nav-link:hover {
    color: #ff6400 !important;
}

section#header .dropdown-item {
    text-align: center;
    border-bottom: 1px solid #dadada;
    padding: 15px 1.5rem;
    font-weight: 700;
    font-size: 14px;
}

section#header .dropdown-menu.show {
    min-width: 14rem;
    left: -24px;
    padding: 0 14px;
}

nav {
    background-color: rgba(0, 0, 0, .5) !important;
    font-size: 14px;
    font-weight: 700;
    z-index: 1;
}

.mt-5-new{
    margin-top: 4rem !important;
}

nav li.nav-item {
    padding-left: 30px;
}

nav li.nav-item a.nav-link {
    color: white !important;
}

nav li.nav-item a.nav-link:hover {
    color: #ff6400 !important;
}

nav li.nav-item.active a {
    color: #ff6400 !important;
}

nav li.nav-item.active a.active {
    color: white !important;
    background-color: #ff6400;
}

nav .dropdown-item {
    text-align: center;
    border-bottom: 1px solid #dadada;
    padding: 15px 1.5rem;
    font-weight: 700;
    font-size: 14px;
}

nav .dropdown-menu.show {
    min-width: 14rem;
    left: -24px;
    padding: 0 14px;
}

section#banner {
    background-image: url("../img/home/banner.png");
    background-position: center;
    background-size: cover;
    padding-top: 105px;
    color: white;
}

section#banner h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 65px;
}

section#banner h1 > span {
    color: #ff6400;
}

section#banner > .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

section#banner div > span {
    font-size: 24px;
    line-height: 31px;
}

.btn-orange {
    background-color: #ff6400;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 70px;
    border-radius: 0;
}

.btn-orange-inverse{
    background-color: black;
    border-color: #ff6400;
    color: #ff6400;
    font-weight: 700;
    font-size: 15px;
    padding: 11px 0px;
    border-radius: 8px;
    width: 11rem;
    height: 3rem;
}

.btn-orange-inverse:hover{
    background-color: #ff6400;
    border-color: #ff6400;
    color: white;
}

.btn-orange-nav {
    background-color: #ff6400;
    color: white;
    font-weight: 700;
    font-size: 17px;
}

.btn-orange-nav:hover {
    background-color: black;
    color: white;
    border-color: #ff6400;
}

.text-orange {
    color: #ff6400;
}

.bold {
    font-weight: 700 !important;
}

.btn-orange:hover {
    background-color: white;
    color: #ff6400;
}

.btn-orange.bg-gray:hover {
    background-color: #ff6400;
    color: white;
}

.bg-darker {
    background-color: black;
    color: white;
}

.bg-gray {
    background-color: #969696;
    color: white;
}

.text-gray {
    color: #626262;
}

.btn-orange.no-hover:hover {
    background-color: #ff6400;
    color: white;
}

section#red {
    background-color: #ff2f00;
    background-image: url("../img/red_bg.png");
    background-position: center;
    background-size: cover;
    padding: 10rem 0;
}

section#red h2 {
    font-size: 50px;
}

section#red a {
    border-radius: 0;
    padding: 12px 75px;
    margin-top: 4rem;
}

section#red a:hover {
    color: #ff2f00 !important;
    background-color: white;
}

section#footer {
    background-color: black;
}

section#footer a:hover {
    color: #ff2f00 !important;
    text-decoration: none;
}

section#footer .box {
    height: 115px;
}

section#footer .images {
    height: 50px;
}

.web-table{
    display: block;
}

.movil-table{
    display: none;
}

.btn-orange.dark-hover:hover {
    background-color: black;
    color: white;
}

.banner{
    background-position: center;
    background-size: cover;
}

@media (max-width: 992px) {
    section#footer {
        text-align: center;
    }

    section#footer .images {
        justify-content: center;
    }

    h1{
        font-size: 40px !important;
    }

}

@media (max-width: 1200px) {
    section#footer {
        text-align: center;
    }

    nav {
        background-color: rgba(0, 0, 0, .9) !important;
    }

    section#footer .images {
        justify-content: center;
    }

    .mt-5-new{
        margin-top: 3rem !important;
    }

    .web-table{
        display: none;
    }
    
    .movil-table{
        display: block;
    }

    .btn-orange-nav {
        font-size: 10px;
    }
}